.news-list {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 234, 237);
  min-height: 100%;

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  .news-item {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    margin: 5px 0;
    background-color: white;
  }

  .image-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100px;
    max-width: 205px;
    margin-left: 10px;

    & > img {
      max-width: 160px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;

    .date {
      font-size: 12px;
      color: gray;
    }
  }
}
