.news-wrapper {
  padding: 1em;

  * {
    max-width: 100%;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .description {
    font-size: 18px;
    margin: 0.5em 0;
  }

  .date {
    font-size: 12px;
    color: gray;
  }

  img {
    width: 100%;
    height: auto;
  }

  /* Overrides for the elements in news item body: */

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  iframe {
    height: 250px;
  }
}